/**
 * See https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/css-variables.html for more CSS variables.
 * Or use your own colors. Both work, but using your own colors may break the automatic light/dark theme function.
 */
/* Sourced from https://github.com/AMNatty/wleave/blob/development/style.css*/

* {
    background-image: none;
    font-size: 21.6px;
}

window {
    /*background-color: rgba(12, 12, 12, 0.8);*/
    background-color: transparent;
}

button {
    /*color: oklab(from var(--view-fg-color) var(--standalone-color-oklab));*/
    color: "black"; /* or white */
    /*background-color: var(--view-bg-color);*/
    background-color: #101419;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    /*border-radius: 9px;*/
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    /*padding: 10px;*/
}

/*button label.action-name {
    font-size: 24px;
}

button label.keybind {
    font-size: 20px;
    font-family: monospace;
}

button:hover label.keybind,
button:focus label.keybind {
    opacity: 1;
}*/

/* Background colors for button:focus and button:hover taken from
https://github.com/HyDE-Project/HyDE/blob/be97b8b4db232bfffc9b74fd27ba90a3457b9354/Configs/.config/waybar/theme.css
*/

button:focus {
    background-color: #93cee9;
    background-size: 30%;
}

button:hover {
    /*background-color: color-mix(
        in srgb,
        var(--accent-bg-color),
        var(--view-bg-color)
    );*/
    background-color: #93cee9;
    /*background-size: 25%;*/
    background-size: 40%;
    border-radius: 50px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
    border-radius: 50px;
    margin: 248.4px 0px 248.4px 302.4px;
}

button:hover#logout {
    border-radius: 50px;
    margin: 248.4px 0px 248.4px 0px;
}

button:hover#suspend {
    border-radius: 50px;
    margin: 248.4px 0px 248.4px 0px;
}

button:hover#shutdown {
    border-radius: 50px;
    margin: 248.4px 0px 248.4px 0px;
}

button:hover#hibernate {
    border-radius: 50px;
    margin: 248.4px 0px 248.4px 0px;
}

button:hover#reboot {
    border-radius: 50px;
    margin: 248.4px 302.4px 248.4px 0px;
}

/*button:active {
    color: var(--accent-fg-color);
    background-color: var(--accent-bg-color);
}*/

/*button#shutdown {
    --view-fg-color: #ff8d8d;
}

button#hibernate {
    --view-fg-color: #a8c0ff;
}

button#reboot {
    --view-fg-color: #84ffaa;
}

button#lock {
    --view-fg-color: #ffe8b6;
}

button#logout {
    --view-fg-color: #ffcca8;
}

button#suspend {
    --view-fg-color: #caaff9;
}*/

#lock {
    /*background-image: image(
        url("$HOME/.config/wleave/icons/lock.svg"),
        url("/usr/share/wleave/icons/lock.png"),
        url("/usr/local/share/wleave/icons/lock.png")
    );*/
    border-radius: 80px 0px 0px 80px;
    margin: 302.4px 0px 302.4px 302.4px;
}

#logout {
    /*background-image: image(
        url("$HOME/.config/wleave/icons/logout.svg"),
        url("/usr/share/wleave/icons/logout.png"),
        url("/usr/local/share/wleave/icons/logout.png")
    );*/
    border-radius: 0px 0px 0px 0px;
    margin: 302.4px 0px 302.4px 0px;
}

#suspend {
    /*background-image: image(
        url("$HOME/.config/wleave/icons/suspend.svg"),
        url("/usr/share/wleave/icons/suspend.png"),
        url("/usr/local/share/wleave/icons/suspend.png")
    );*/
    border-radius: 0px 0px 0px 0px;
    margin: 302.4px 0px 302.4px 0px;
}

#shutdown {
    /*background-image: image(
        url("$HOME/.config/wleave/icons/shutdown.svg"),
        url("/usr/share/wleave/icons/shutdown.png"),
        url("/usr/local/share/wleave/icons/shutdown.png")
    );*/
    border-radius: 0px 0px 0px 0px;
    margin: 302.4px 0px 302.4px 0px;
}

#hibernate {
    /*background-image: image(
        url("$HOME/.config/wleave/icons/hibernate.svg"),
        url("/usr/share/wleave/icons/hibernate.png"),
        url("/usr/local/share/wleave/icons/hibernate.png")
    );*/
    border-radius: 0px 0px 0px 0px;
    margin: 302.4px 0px 302.4px 0px;
}

#reboot {
    /*background-image: image(
        url("$HOME/.config/wleave/icons/reboot.svg"),
        url("/usr/share/wleave/icons/reboot.png"),
        url("/usr/local/share/wleave/icons/reboot.png")
    );*/
    border-radius: 0px 80px 80px 0px;
    margin: 302.4px 302.4px 302.4px 0px;
}
